<!doctype html>
<html lang="{{ request.locale.iso_code }}" class="no-js" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">

    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
    <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>{{ shop.name }}</title>

    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <link href="{{ 'font-adobe_garamond_pro_regular.woff2' | asset_url }}" rel="preload" as="font" type="font/woff2" crossorigin>
    <link href="{{ 'font-adobe_garamond_pro_italic.woff2' | asset_url }}" rel="preload" as="font" type="font/woff2" crossorigin>
    <link href="{{ 'font-itc_avant_garde_gothic_mdcn.woff2' | asset_url }}" rel="preload" as="font" type="font/woff2" crossorigin>
    <link href="{{ 'font-itc_avant_garde_gothic_mdcnobl.woff2' | asset_url }}" rel="preload" as="font" type="font/woff2" crossorigin>
    <link href="{{ 'font-itc_avant_garde_gothic_demicn.woff2' | asset_url }}" rel="preload" as="font" type="font/woff2" crossorigin>
    <link href="{{ 'font-itc_avant_garde_gothic_demicnobl.woff2' | asset_url }}" rel="preload" as="font" type="font/woff2" crossorigin>

    {% render 'style-settings' %}
    <link href="{{ 'vendor.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
    <link href="{{ 'global.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

    <script src="{{ 'vendor.js' | asset_url }}" defer></script>
    <script src="{{ 'global.js' | asset_url }}" defer></script>
    <script src="{{ 'shop.js' | asset_url }}" defer></script>

    {% render 'script-external-head' %}
    
    {{ content_for_header }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        if (Shopify.designMode) {
            document.documentElement.classList.add('shopify-design-mode');
        }
    </script>

</head>

<body class="typography-body typography-body--1" data-template="{{ template }}" {% if template.directory
    %}data-template-directory="{{ template.directory }}" {% endif %} data-template-name="{{ template.name }}" {% if
    template.suffix %}data-template-suffix="{{ template.suffix }}" {% endif %}>


    <a class="skip-to-content-link button visually-hidden" href="#MainContent">Skip to content</a>

    {% section 'password-header' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
        {{ content_for_layout }}
    </main>

    {% section 'password-footer' %}
    
    {% render 'script-settings' %}

    {% render 'script-external-body' %}

</body>

</html>