<footer class="footer">

    <div class="footer-top">
        <div class="footer-title typography-heading typography-heading--2">{{ section.settings.title }}</div>
    </div>

    <div class="footer-center">

        <div class="footer-newsletter">
        
            {%- if section.settings.newsletter_title != blank -%}
            <h2 class="footer-newsletter-title typography-heading typography-heading--5">{{ section.settings.newsletter_title }}</h2>
            {%- endif -%}

            <form
            id="footer-newsletter-form"
            class="footer-newsletter-form"
            action="//manage.kmail-lists.com/subscriptions/subscribe"
            data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe"
            method="GET"
            >
                <input type="hidden" name="g" value="{{ section.settings.klaviyo_list }}">
                <input type="hidden" name="$fields" value="$consent">
                <input type="hidden" name="$list_fields" value="$consent">

                <div class="footer-newsletter-email-field-inline-wrapper">

                    <div class="footer-newsletter-email-field field field--input typography-heading typography-heading--5">
                        <input
                            id="footer-newsletter-email"
                            class="footer-newsletter-email"
                            type="text"
                            name="email"
                            placeholder="{{ section.settings.newsletter_placeholder }}"
                            autocorrect="off"
                            autocapitalize="off"
                            autocomplete="off"
                            aria-required="true"
                        >
                        <label for="footer-newsletter-email" class="visually-hidden">{{ section.settings.newsletter_placeholder }}</label>
                    </div>

                    <button type="submit" name="submit" id="footer-newsletter-button" class="footer-newsletter-button button typography-heading typography-heading--7" aria-label="Subscribe">
                        <span class="visually-hidden">Subscribe</span>
                        {% render 'icon-arrow_right' %}
                    </button>
                    
                </div>

                <div class="klaviyo_messages footer-newsletter-message typography-heading typography-heading--6">
                    <div class="success_message" style="display:none;">{{ section.settings.newsletter_success_message }}</div>
                    <div class="error_message" style="display:none;"></div>
                </div>

                <div class="footer-newsletter-checkbox-field field field--checkbox typography-heading typography-heading--6">
                   <input id="footer-newsletter-checkbox" type="checkbox" name="$consent" value="web" required>
                   <label for="footer-newsletter-checkbox" class="typography-heading typography-heading--6 rich-text">{{ section.settings.newsletter_checkbox_label }}</label>
               </div>

            </form>

        </div>

        {%- for link in section.settings.menu.links -%}

        <div class="footer-menu-block">
            <details-utils force-close="(max-width: 991px)" force-open="(min-width: 992px)">
            <details class="footer-menu">
                <summary>
                    <span class="typography-heading typography-heading--5">{{ link.title | escape }}</span>
                    {% render 'icon-plus' %}
                    {% render 'icon-minus' %}
                </summary>
                <ul role="list">
                    {%- for childlink in link.links -%}
                    <li>
                    <a href="{{ childlink.url }}" {% if childlink.url contains 'privacyportal' %}target='__blank'{% endif %} class="typography-heading typography-heading--5 link link--inline-block link--hover">{{ childlink.title | escape }}</a>
                    </li>
                    {%- endfor -%}
                </ul>
            </details>
            </details-utils>
        </div>

        {%- endfor -%}

        </div>

    </div>

    <div class="footer-bottom">

        <div class="footer__copyright typography-heading typography-heading--5">
            <small class="copyright__content">&copy; {{ 'now' | date: "%Y" }} <span>{{ section.settings.copyright }}</span></small>
        </div>

    </div>
    
</footer>

<!--
<script>
    window.addEventListener('load', (event) => {
        KlaviyoSubscribe.attachToForms('#footer-newsletter-form', {
            
            extra_properties: {
                $source: 'Footer',
                $consent: true,
                $consent_version: '',
            },

            custom_success_message: true,
            success_message: "{{ section.settings.newsletter_success_message }}",

            success: function ($form) {
                setTimeout(() => {
                    $form.get(0).querySelector('.klaviyo_messages').style.display = "none";
                }, 2500);
            }

        });
    });
</script>

-->

{% schema %}
{
    "name": "Footer",
    "tag": "section",
    "class": "section--footer",
    "settings": [
        {
            "type": "header",
            "content": "Footer"
        },
        {
            "type": "html",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "klaviyo_list",
            "label": "Klaviyo List ID"
        },
        {
            "type": "html",
            "id": "newsletter_title",
            "label": "Newsletter Title"
        },
        {
            "type": "html",
            "id": "newsletter_placeholder",
            "label": "Newsletter Placeholder"
        },
        {
            "type": "html",
            "id": "newsletter_success_message",
            "label": "Newsletter Success Message"
        },
        {
            "type": "html",
            "id": "newsletter_failure_message",
            "label": "Newsletter Failure Message"
        },
        {
            "type": "html",
            "id": "newsletter_checkbox_label",
            "label": "Newsletter Checkbox Label"
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
        },
        {
            "type": "html",
            "id": "copyright",
            "label": "Copyright"
        }
    ],
    "default": {}
}
{% endschema %}
