{% style %}

    .promo-bar-{{ section.id }}{
        color: {{ section.settings.promo_bar_text_color }};
        background-color: {{ section.settings.promo_bar_background_color }};
    }

{% endstyle %}

{% javascript %}


{% endjavascript %}


<div
id="header-wrapper"
class="header-wrapper"
>

    <!-- promo bar -->
    
    {% if section.settings.show_promo_bar %}

    <promo-bar
    role="region"
    aria-label="Promotion bar"
    >
        <div
        id="promo-bar-slider-{{ section.id }}"
        class="promo-bar-slider-{{ section.id }} promo-bar-slider swiper isolate"
        >
            <div class="swiper-wrapper">
            
            {%- for block in section.blocks -%}
        
                {%- case block.type -%}
                {%- when 'promo_bar_slide' -%}

                <div
                class="promo-bar-item swiper-slide"
                data-swiper-autoplay="{{ section.settings.promo_bar_slider_interval | times: 1000 }}"
                {{ block.shopify_attributes }}
                >
            
                    {%- if block.settings.link != blank -%}
                    <a class="link link--covering" href="{{ block.settings.link }}" aria-hidden="true" tabindex="-1">&nbsp;</a>
                    {%- endif -%}

                    {%- if block.settings.text_desktop != blank -%}
                    <p class="promo-bar-text--desktop promo-bar-text typography-heading typography-heading--5 hidden-mobile">
                        {{ block.settings.text_desktop }}
                    </p>
                    {%- endif -%}

                    {%- if block.settings.text_mobile != blank -%}
                    <p class="promo-bar-text--mobile promo-bar-text typography-heading typography-heading--5 hidden-desktop">
                        {{ block.settings.text_mobile }}
                    </p>
                    {%- endif -%}

                </div>
        
                {%- endcase -%}
        
            {%- endfor -%}
        
            </div>
        
        </div>
    </promo-bar>

    {% endif %}


    <!-- header -->

    <header id="header" class="header" data-id="{{ section.id }}">

        <!-- inline menu left -->

        <div class="header-inline-menu header-inline-menu--left">

            <!-- drawer desktop -->

            <header-drawer class="hidden-mobile">
                <details id="Details-header-drawer-container-desktop" class="header-drawer-container header-drawer-container--desktop">
                    
                    <!-- drawer toggle -->

                    <summary
                    class="header-drawer-toggle header-drawer-toggle--desktop link link--block link--hover typography-heading typography-heading--5"
                    aria-label="Main menu toggle"
                    >

                        {%- render 'icon-close' -%}
                        <span>Shop</span>
                        
                    </summary>

                    <!-- drawer -->

                    <div
                    id="header-drawer-desktop"
                    class="header-drawer header-drawer--desktop"
                    tabindex="-1"
                    >
                        <!-- drawer menu -->
                        <div class="header-drawer-inner header-drawer-inner--desktop">
                            <ul class="header-drawer-menu--desktop header-drawer-menu scrollbar-hidden" role="list">

                                {%- for link in section.settings.main_nav_menu_desktop.links -%}

                                
                                    {%- if link.links != blank -%}
                                        <li class="header-drawer-menu-item header-drawer-menu-item--nested header-drawer-menu-item--desktop">
                                        <details 
                                        id="Details-header-drawer-menu-item-{{ forloop.index }}--desktop"
                                        class="header-subdrawer-container header-subdrawer-container--desktop {% if link.child_active %} active{% endif %}"
                                        >

                                            <!-- sub drawer toggle -->
                                            <summary 
                                            class="header-subdrawer-toggle header-subdrawer-toggle--desktop link link--inline-block link--hover typography-heading typography-heading--5"
                                            aria-label="Sub menu toggle"
                                            >
                                                {{ link.title | escape }}
                                            </summary>

                                            <!-- sub drawer -->
                                            <div 
                                            id="header-subdrawer-{{ forloop.index }}--desktop"
                                            class="header-subdrawer header-subdrawer--desktop"
                                            tabindex="-1"
                                            >

                                                <div class="header-subdrawer-inner header-subdrawer-inner--desktop">
                                                <!-- sub drawer menu -->
                                                <ul class="header-subdrawer-menu header-subdrawer-menu--desktop scrollbar-hidden" role="list" tabindex="-1">
                                                    {%- for childlink in link.links -%}
                                                    <li>
                                                        <a
                                                        href="{{ childlink.url }}"
                                                        class="header-subdrawer-menu-item header-subdrawer-menu-item--desktop header-subdrawer-menu-link header-subdrawer-menu-link--desktop link link--inline-block link--hover typography-heading typography-heading--5 {% if childlink.current %} active{% endif %}"
                                                        {% if childlink.current %} aria-current="page"{% endif %}
                                                        >
                                                            {{ childlink.title | escape }}
                                                        </a>
                                                    </li>
                                                    {%- endfor -%}
                                                </ul>

                                                <!-- sub drawer media -->
                                                {%- assign link_handle = link.title | handle -%}
                                                {%- for block in section.blocks -%}
                                                {%- case block.type -%}
                                                {%- when 'mega_menu_media' -%}
                                                {%- assign menu_item_handle = block.settings.menu_item | handle -%}
                                                {%- if link_handle == menu_item_handle -%}
                                                <div class="header-subdrawer-poster">
                                                <div class="ratio ratio--100">                                                         
                                                <img
                                                srcset="{% render 'image-srcset', image: block.settings.menu_image %}"
                                                sizes="40vw"
                                                src="{{ block.settings.menu_image | image_url: width: 1500 }}"
                                                alt="{{ block.settings.menu_image.alt | escape }}"
                                                width="{{ block.settings.menu_image.width }}"
                                                height="{{ block.settings.menu_image.width | divided_by: block.settings.menu_image.aspect_ratio | ceil }}"
                                                loading="eager"
                                                class="media"
                                                >
                                                </div>
                                                </div>
                                                {%- break -%}
                                                {%- endif -%}
                                                {%- endcase -%}
                                                {%- endfor -%}

                                                </div>

                                            </div>
                                        </details>
                                        </li>
                                    {%- else -%}

                                        {%- assign link_title_first_char = link.title | slice: 0 -%}
                                        {%- if link_title_first_char == '_' -%}
                                        <li class="header-drawer-menu-spacer header-drawer-menu-spacer--desktop" aria-hidden="true">
                                            &nbsp;
                                        </li>
                                        {%- elsif link.url == "#" -%}
                                        <li class="header-drawer-menu-item header-drawer-menu-item--heading header-drawer-menu-item--desktop">
                                            <span
                                            class="header-drawer-menu-link header-drawer-menu-link--desktop typography-heading typography-heading--5-medium"
                                            >
                                                {{ link.title | escape }}
                                            </span>
                                        </li>
                                        {%- else -%}
                                        <li class="header-drawer-menu-item header-drawer-menu-item--simple header-drawer-menu-item--desktop">
                                            <a 
                                            href="{{ link.url }}" 
                                            class="header-drawer-menu-link header-drawer-menu-link--desktop link link--inline-block link--hover typography-heading typography-heading--5 {% if link.current %} active{% endif %}"
                                            {% if link.current %} aria-current="page" {% endif %}
                                            >
                                                {{ link.title | escape }}
                                            </a>
                                        </li>
                                        {%- endif -%}

                                    {%- endif -%}

                                {%- endfor -%}
                            </ul>
                        </div>

                    </div>
                </details>
            </header-drawer>

            <!-- drawer mobile -->

            <header-drawer class="hidden-desktop">
                <details id="Details-header-drawer-container-mobile" class="header-drawer-container header-drawer-container--mobile">
                    
                    <!-- drawer toggle -->

                    <summary
                    class="header-drawer-toggle header-drawer-toggle--mobile typography-heading typography-heading--5"
                    aria-label="Main menu toggle"
                    >

                        {% render 'icon-hamburger' %}
                        {% render 'icon-close' %}
                        
                    </summary>

                    <!-- drawer -->

                    <div
                    id="header-drawer-mobile"
                    class="header-drawer header-drawer--mobile"
                    tabindex="-1"
                    >
                        <!-- drawer menu -->
                        <div class="header-drawer-inner header-drawer-inner--mobile">
                            <ul class="header-drawer-menu--mobile header-drawer-menu scrollbar-hidden" role="list">

                                {%- for link in section.settings.main_nav_menu_mobile.links -%}
                                
                                {%- if link.links != blank -%}
                                    <li class="header-drawer-menu-item header-drawer-menu-item--nested header-drawer-menu-item--mobile">
                                    <details 
                                    id="Details-header-drawer-menu-item-{{ forloop.index }}--mobile"
                                    class="header-subdrawer-container header-subdrawer-container--mobile {% if link.child_active %} active{% endif %}"
                                    >

                                        <!-- sub drawer toggle -->
                                        <summary 
                                        class="header-subdrawer-toggle header-subdrawer-toggle--mobile link link--inline-block typography-heading typography-heading--5"
                                        aria-label="Sub menu toggle"
                                        >
                                            {{ link.title | escape }}
                                        </summary>

                                        <!-- sub drawer -->
                                        <div 
                                        id="header-subdrawer-{{ forloop.index }}--mobile"
                                        class="header-subdrawer header-subdrawer--mobile"
                                        tabindex="-1"
                                        >
                                            <div class="header-subdrawer-inner header-subdrawer-inner--mobile">

                                                <!-- sub drawer close -->
                                                <button class="header-subdrawer-close typography-heading typography-heading--5-medium"
                                                aria-expanded="true">
                                                    {% render 'icon-arrow_left' %}
                                                    {{ link.title | escape }}
                                                </button>

                                                <!-- sub drawer menu -->
                                                <ul class="header-subdrawer-menu header-subdrawer-menu--mobile scrollbar-hidden" role="list" tabindex="-1">
                                                    {%- for childlink in link.links -%}
                                                    <li>
                                                        <a
                                                        href="{{ childlink.url }}"
                                                        class="header-subdrawer-menu-item header-subdrawer-menu-item--mobile header-subdrawer-menu-link header-subdrawer-menu-link--desktop link link--inline-block typography-heading typography-heading--5 {% if childlink.current %} active{% endif %}"
                                                        {% if childlink.current %} aria-current="page"{% endif %}
                                                        >
                                                            {{ childlink.title | escape }}
                                                        </a>
                                                    </li>
                                                    {%- endfor -%}
                                                </ul>

                                            </div>

                                        </div>

                                    </details>
                                    </li>
                                {%- else -%}

                                    {%- assign link_title_first_char = link.title | slice: 0 -%}
                                    {%- if link_title_first_char == '_' -%}
                                    <li class="header-drawer-menu-spacer header-drawer-menu-spacer--mobile" aria-hidden="true">
                                        &nbsp;
                                    </li>
                                    {%- elsif link.url == "#" -%}
                                    <li class="header-drawer-menu-item header-drawer-menu-item--heading header-drawer-menu-item--mobile">
                                        <span
                                        class="header-drawer-menu-link header-drawer-menu-link--mobile link link--inline-block typography-heading typography-heading--5-medium"
                                        >
                                            {{ link.title | escape }}
                                        </span>
                                    </li>
                                    {%- else -%}
                                    <li class="header-drawer-menu-item header-drawer-menu-item--simple header-drawer-menu-item--mobile">
                                        <a 
                                        href="{{ link.url }}" 
                                        class="header-drawer-menu-link header-drawer-menu-link--mobile link link--inline-block typography-heading typography-heading--5 {% if link.current %} active{% endif %}"
                                        {% if link.current %} aria-current="page" {% endif %}
                                        >
                                            {{ link.title | escape }}
                                        </a>
                                    </li>
                                    {%- endif -%}

                                {%- endif -%}

                                {%- endfor -%}
                            </ul>


                            <ul class="header-drawer-sidemenu--mobile header-drawer-sidemenu" role="list">
                                
                                {%- comment -%}
                                <li class="header-drawer-menu-item header-drawer-menu-item--mobile">
                                    <a href="/" class="link link--inline-block typography-heading typography-heading--5">
                                        <span>Stories</span>
                                    </a>
                                </li>
                                {%- endcomment -%}

                                <!-- account -->
                                {%- if shop.customer_accounts_enabled -%}
                                <li class="header-drawer-menu-item header-drawer-menu-item--mobile">
                                    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="link link--inline-block typography-heading typography-heading--5">
                                    <span>Account</span>
                                    </a>
                                </li>
                                {%- endif -%}

                                {%- comment -%} 
                                <!-- wishlist -->
                                <li class="header-drawer-menu-item header-drawer-menu-item--mobile">
                                    <span class="link link--inline-block typography-heading typography-heading--5">
                                        <span>Wishlist</span>
                                    </span>
                                </li>
                                {%- endcomment -%}

                            </ul>


                        </div>

                    </div>
                </details>
            </header-drawer>

        </div>

        <!-- logo -->

        {%- if request.page_type == 'index' -%}
        <h1 class="header-heading">
        {%- else -%}
        <div class="header-heading">       
        {%- endif -%}
            <a href="{{ routes.root_url }}" title="{{ shop.name }}" aria-label="Homepage Link" class="header-heading-link link link--block">
                <span class="visually-hidden">{{ shop.name }}</span>
                {% render 'icon-logo' %}
            </a>
        {%- if request.page_type == 'index' -%}
        </h1>
        {%- else -%}
        </div>       
        {%- endif -%}

        <!-- inline menu right -->

        <div class="header-inline-menu header-inline-menu--right">
            
            {%- comment -%} 
            <!-- wishlist -->
            <span class="link link--block link--hover typography-heading typography-heading--5 hidden-mobile">
                <span>Wishlist</span>
            </span>
            {%- endcomment -%}

            <!-- account -->
            {%- if shop.customer_accounts_enabled -%}
            <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="link link--block link--hover typography-heading typography-heading--5 hidden-mobile">
                <span>Account</span>
            </a>
            {%- endif -%}

            <!-- minicart -->
            <a href="{{ routes.cart_url }}" class="link link--block link--hover typography-heading typography-heading--5" id="cart-bubble">
                <span>Bag</span>
                {%- if cart.item_count > 0 -%}
                <div class="cart-bubble-count typography-heading typography-heading--7">
                    <span aria-hidden="true">{{ cart.item_count }}</span>
                    <span class="visually-hidden">{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }}</span>
                </div>
                {%- endif -%}
            </a>

        </div>

    </header>

    
</div>




<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
    "name": "Header",
    "tag": "section",
    "class": "section--header",
    "settings": [

        {
        "type": "header",
        "content": "Promo Bar"
        },

        {
            "type": "checkbox",
            "id": "show_promo_bar",
            "label": "Show Promo Bar",
            "default": true
        },

        {
            "type": "color",
            "id": "promo_bar_text_color",
            "label": "Promo Bar Text Color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "promo_bar_background_color",
            "label": "Promo Bar Background Color",
            "default": "#ffffff"
        },

        {
            "type": "range",
            "id": "promo_bar_slider_interval",
            "min": 3,
            "max": 10,
            "step": 1,
            "unit": "s",
            "label": "Promo Bar Slider Interval",
            "default": 5
        },

        {
        "type": "header",
        "content": "Main Nav"
        },

        {
            "type": "link_list",
            "id": "main_nav_menu_desktop",
            "default": "main-menu",
            "label": "Main Menu Desktop"
        },


        {
            "type": "link_list",
            "id": "main_nav_menu_mobile",
            "label": "Main Menu Mobile"
        }

    ],

    "blocks": [
        {
        "type": "promo_bar_slide",
        "name": "Promo Bar Slide",
        "settings": [
            {
                "type": "inline_richtext",
                "id": "text_desktop",
                "default": "Promo Bar Slide Text Desktop",
                "label": "Promo Bar Slide Text Desktop",
                "info": "Use CMD+U or CTRL+U to underline"
            },
            {
                "type": "inline_richtext",
                "id": "text_mobile",
                "default": "Promo Bar Slide Text Mobile",
                "label": "Promo Bar Slide Text Mobile",
                "info": "Use CMD+U or CTRL+U to underline"
            },      
            {
                "type": "url",
                "id": "link",
                "label": "Promo Bar Slide link"
            }
        ]
        },
        {
        "type": "mega_menu_media",
        "name": "Mega Menu Media",
        "settings": [
            {
                "type": "text",
                "id": "menu_item",
                "label": "Menu Item"
            },
            {
                "type": "image_picker",
                "id": "menu_image",
                "label": "Menu Image"
            }
        ]
        }
    ]
}
{% endschema %}
