{% style %}

    .hp-video-{{ section.id }} .hp-banner .banner-overlay {
        background-color: rgba(0,0,0,{{ section.settings.overlay_opacity | divided_by: 100.0 | round: 2 }});
    }

    @media screen and (min-width: 769px) {
        .hp-video-{{ section.id }} .hp-banner .banner-overlay {
            padding: 6rem 2.6rem 6rem;
        }
    }

    @media screen and (max-width: 768px) {
        .hp-video-{{ section.id }} .hp-banner .banner-overlay {
            padding: 8rem 1.2rem 8rem;
        }
    }
    
    .hp-video-{{ section.id }} .hp-banner .banner-content-overlay{
        display: grid;
        justify-content: {{ section.settings.text_placement_hor }};
        align-content: {{ section.settings.text_placement_vert }};
        text-align: {{ section.settings.text_alignment }};
    }

    {%- if section.settings.cta_independent_placement -%}
        .hp-video-{{ section.id }} .hp-banner .banner-cta-overlay{
            display: grid;
            justify-content: {{ section.settings.cta_placement_hor }};
            align-content: {{ section.settings.cta_placement_vert }};
        }
    {%- endif -%}

    .hp-video-{{ section.id }} .hp-banner .banner-title {
        color: {{ section.settings.title_color }};
    }

    .hp-video-{{ section.id }} .hp-banner .banner-subtitle {
        color: {{ section.settings.subtitle_color }};
    }

    .hp-video-{{ section.id }} .hp-banner .banner-paragraph {
        color: {{ section.settings.paragraph_color }};
    }

    .hp-video-{{ section.id }} .hp-banner .banner-cta-line{
        justify-content: {{ section.settings.text_alignment }};
    }

    .hp-video-{{ section.id }} .hp-banner .video-js {
        color: {{ section.settings.video_control_color }};
    }

    @media screen and (min-width: 769px) {
        .hp-video-{{ section.id }} .vjs-control-bar {
            width: auto;
            left: auto;
            right: 2.6rem;
            bottom: 6rem;
        }
    }

    @media screen and (max-width: 768px) {
        .hp-video-{{ section.id }} .vjs-control-bar {
            width: auto;
            bottom: auto;
            left: auto;
            top: 1.2rem;
            right: 1.2rem;
        }
    }

{% endstyle %}

<div
id="hp-video-{{ section.id }}"
class="hp-video-{{ section.id }} hp-video isolate"
>

    <div class="hp-banner-{{ section.id }} hp-banner banner">

        <video-js
        alt="{{ section.settings.video.alt | escape }}"
        controls
        autoplay
        playsinline
        muted
        loop
        preload="auto"
        class="vjs-lite hidden-mobile"
        data-setup='{"fluid": true, "aspectRatio": "16:9", "responsive": true, "inactivityTimeout": 0, "bigPlayButton": false, "controlBar": {"volumePanel": false, "muteToggle": true, "subsCapsButton": false, "progressControl": false, "remainingTimeDisplay": false, "pictureInPictureToggle": false, "fullscreenToggle": false}}'
        >
        {% for source in section.settings.video.sources %}
            <source src="{{ source.url }}" type="{{ source.mime_type }}">
        {% endfor %}
        </video-js>

        <video-js
        alt="{{ section.settings.video_alter.alt | escape }}"
        controls
        autoplay
        playsinline
        muted
        loop
        preload="auto"
        class="vjs-lite hidden-desktop"
        data-setup='{"fluid": true, "aspectRatio": "9:16", "responsive": true, "inactivityTimeout": 0, "bigPlayButton": false, "controlBar": {"volumePanel": false, "muteToggle": true, "subsCapsButton": false, "progressControl": false, "remainingTimeDisplay": false, "pictureInPictureToggle": false, "fullscreenToggle": false}}'
        >
        {% for source in section.settings.video_alter.sources %}
            <source src="{{ source.url }}" type="{{ source.mime_type }}">
        {% endfor %}
        </video-js>

        <div class="banner-content banner-overlay banner-content-overlay">

            {%- if section.settings.cta_1_link != blank -%}
            <a class="link link--covering" href="{{ section.settings.cta_1_link }}" aria-hidden="true" tabindex="-1">&nbsp;</a>
            {%- endif -%}

            {%- if section.settings.title != blank -%}
            <h2 class="banner-title typography-heading typography-heading--9">{{ section.settings.title | newline_to_br }}</h2>
            {%- endif -%}

            {%- if section.settings.subtitle != blank -%}
            <h3 class="banner-subtitle typography-heading typography-heading--1">{{ section.settings.subtitle | newline_to_br }}</h3>
            {%- endif -%}

            {%- if section.settings.paragraph != blank -%}
            <div class="banner-paragraph typography-body typography-body--2 typography-body--2-medium">{{ section.settings.paragraph | newline_to_br }}</div>
            {%- endif -%}
    
            {%- if section.settings.cta_1_text != blank or section.settings.cta_2_text != blank -%}

                {%- if section.settings.cta_independent_placement -%}
                    <div class="banner-overlay banner-cta-overlay">
                {%- endif -%}

                    <div class="banner-cta-line">

                    {%- if section.settings.cta_1_text != blank -%}
                    {%- if section.settings.cta_1_link != blank -%}
                        <a href="{{ section.settings.cta_1_link }}" class="link banner-cta button button--primary-{{ section.settings.cta_1_color }} typography-body typography-body--3">{{ section.settings.cta_1_text }}</a>
                    {%- else -%}
                        <span class="banner-cta button button--primary-{{ section.settings.cta_1_color }} typography-body typography-body--3">{{ section.settings.cta_1_text }}</span>
                    {%- endif -%}
                    {%- endif -%}

                    {%- if section.settings.cta_2_text != blank -%}
                    {%- if section.settings.cta_2_link != blank -%}
                        <a href="{{ section.settings.cta_2_link }}" class="link banner-cta button button--primary-{{ section.settings.cta_2_color }} typography-body typography-body--3">{{ section.settings.cta_2_text }}</a>
                    {%- else -%}
                        <span class="banner-cta button button--primary-{{ section.settings.cta_2_color }} typography-body typography-body--3">{{ section.settings.cta_2_text }}</span>
                    {%- endif -%}
                    {%- endif -%}

                    </div>

                {%- if section.settings.cta_independent_placement -%}
                    <div class="banner-overlay banner-cta-overlay">
                {%- endif -%}

            {%- endif -%}
    
        </div>


    </div>

</div>

{% schema %}

{
    "name": "HP Video",
    "tag": "section",
    "class": "section--hp-video",
    "templates": ["index"],
    
    "settings": [
        {
            "type": "header",
            "content": "Video"
        },

        {
            "type": "video",
            "id": "video",
            "label": "Video"
        },

        {
            "type": "video",
            "id": "video_alter",
            "label": "Video Mobile"
        },

        {
            "type": "range",
            "id": "overlay_opacity",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "Overlay Opacity",
            "default": 0
        },

        {
            "type": "color",
            "id": "video_control_color",
            "label": "Video Control Color",
            "default": "#ffffff"
        },

        {
            "type": "header",
            "content": "Text"
        },

        {
            "type": "radio",
            "id": "text_placement_hor",
            "label": "Text Placement Horizontal",
            "options": [
                {
                    "value": "start",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "end",
                    "label": "Right"
                }
            ],
            "default": "center"
        },

        {
            "type": "radio",
            "id": "text_placement_vert",
            "label": "Text Placement Vertical",
            "options": [
                {
                    "value": "start",
                    "label": "Top"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "end",
                    "label": "Bottom"
                }
            ],
            "default": "center"
        },

        {
            "type": "radio",
            "id": "text_alignment",
            "label": "Text Alignment",
            "options": [
                {
                    "value": "start",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "end",
                    "label": "Right"
                }
            ],
            "default": "center"
        },

        {
            "type": "richtext",
            "id": "title",
            "label": "Title",
            "info": "Use CMD+U or CTRL+U to underline"
        },

        {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#ffffff"
        },

        {
            "type": "richtext",
            "id": "subtitle",
            "label": "Subtitle",
            "info": "Use CMD+U or CTRL+U to underline"
        },

        {
            "type": "color",
            "id": "subtitle_color",
            "label": "Subtitle Color",
            "default": "#ffffff"
        },

        {
            "type": "richtext",
            "id": "paragraph",
            "label": "Paragraph",
            "info": "Use CMD+U or CTRL+U to underline"
        },

        {
            "type": "color",
            "id": "paragraph_color",
            "label": "Paragraph Color",
            "default": "#ffffff"
        },

        {
            "type": "text",
            "id": "cta_1_text",
            "label": "CTA 1 Text"
        },

        {
            "type": "radio",
            "id": "cta_1_color",
            "label": "CTA 1 Color",
            "options": [
                {
                    "value": "light",
                    "label": "Light"
                },
                {
                    "value": "dark",
                    "label": "Dark"
                }
            ],
            "default": "light"
        },

        {
            "type": "url",
            "id": "cta_1_link",
            "label": "CTA 1 Link"
        },

        {
            "type": "text",
            "id": "cta_2_text",
            "label": "CTA 2 Text"
        },

        {
            "type": "radio",
            "id": "cta_2_color",
            "label": "CTA 2 Color",
            "options": [
                {
                    "value": "light",
                    "label": "Light"
                },
                {
                    "value": "dark",
                    "label": "Dark"
                }
            ],
            "default": "light"
        },

        {
            "type": "url",
            "id": "cta_2_link",
            "label": "CTA 2 Link"
        },

        {
            "type": "checkbox",
            "id": "cta_independent_placement",
            "label": "CTA Independent Placement",
            "default": false
        },

        {
            "type": "radio",
            "id": "cta_placement_hor",
            "label": "CTA Placement Horizontal",
            "options": [
                {
                    "value": "start",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "end",
                    "label": "Right"
                }
            ],
            "default": "end"
        },

        {
            "type": "radio",
            "id": "cta_placement_vert",
            "label": "CTA Placement Vertical",
            "options": [
                {
                    "value": "start",
                    "label": "Top"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "end",
                    "label": "Bottom"
                }
            ],
            "default": "end"
        }
    ],

    "presets": [
        {
            "name": "HP Video"
        }
    ]
}


{% endschema %}
