{% style %}

    .password-banner .banner-content-overlay{
        display: grid;
        justify-content: center;
        align-content: center;
    }

    @media screen and (min-width: 769px) {

        .password-banner .banner-title{
            font-size: 3rem;
        }

        .password-banner .banner-subtitle{
            font-size: 2.6rem;    
        }

    }

    @media screen and (max-width: 768px) {

        .password-banner .banner-title{
            font-size: 3rem;
        }

        .password-banner .banner-subtitle{
            font-size: 2.6rem;    
        }

    }


    .storefront-password-form {
        width: 16rem;
        margin-left: 1rem;
    }

    .storefront-password-field-inline-wrapper {
        position: relative;
    }

    .storefront-password-field {
        --color-input-text: var(--color-white);
        --color-input-border: var(--color-white);
        border-bottom: var(--inputs-border-width) solid rgb(var(--color-input-border));
    }

    .storefront-password-field input {
        height: 3rem;
        padding: 0;
        --alpha-input-background: 0;
    }

    .storefront-password-field label {
        left: 0;
    }

    .storefront-password-button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        --color-button-text: var(--color-white);
        --alpha-button-border: 0;
        --alpha-button-background: 0;
    }


{% endstyle %}


<div class="password-banner banner">

    <div class="ratio ratio--100vh">

        {%- case section.settings.media_type -%}

        {%- when 'image' -%}

            <img
            srcset="{% render 'image-srcset', image: section.settings.image %}"
            sizes="100vw"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio | ceil }}"
            src="{{ section.settings.image | image_url: width: 2048 }}"
            loading="lazy"
            alt="{{ section.settings.image.alt | escape }}"
            class="media hidden-mobile"
            >

            <img
            srcset="{% render 'image-srcset', image: section.settings.image_alter %}"
            sizes="100vw"
            width="{{ section.settings.image_alter.width }}"
            height="{{ section.settings.image_alter.width | divided_by: section.settings.image_alter.aspect_ratio | ceil }}"
            src="{{ section.settings.image_alter | image_url: width: 2048 }}"
            loading="lazy"
            alt="{{ section.settings.image_alter.alt | escape }}"
            class="media hidden-desktop"
            >

        {%- when 'video' -%}

            <video
            class="media hidden-mobile"
            autoplay
            playsinline
            muted
            loop
            preload="auto"
            >
                <source src="{{ section.settings.video }}" type="video/mp4">
                
            </video>

            <video
            class="media hidden-desktop"
            autoplay
            playsinline
            muted
            loop
            preload="auto"
            >
                <source src="{{ section.settings.video_alter }}" type="video/mp4">

            </video> 

        {%- endcase -%}

    </div>

    <div class="banner-content banner-overlay banner-content-overlay" style="background-color: rgba(0,0,0,{{ section.settings.overlay_opacity | divided_by: 100.0 | round: 2 }});">

        <a href="/admin" class="link link--covering" aria-hidden="true" tabindex="-1">&nbsp;</a>

        {% if section.settings.title != blank %}
        <h2 class="banner-title typography-heading typography-heading--2" style="color: {{ section.settings.title_color }};">{{ section.settings.title }}</h2>
        {% endif %}

        {% if section.settings.subtitle != blank %}
        <h3 class="banner-subtitle typography-heading typography-heading--5" style="color: {{ section.settings.subtitle_color }};">{{ section.settings.subtitle }}</h3>
        {% endif %}

        {%- if shop.password_message != blank -%}
        {%- endif -%}


    </div>
    
</div>



{% schema %}

{
    "name": "Password Main",
    "tag": "section",
    "class": "section--password-main",
    "templates": ["password"],
    
    "settings": [
        {
            "type": "header",
            "content": "Media"
        },
        {
            "type": "radio",
            "id": "media_type",
            "label": "Media Type",
            "options": [
                {
                    "value": "image",
                    "label": "Image"
                },
                {
                    "value": "video",
                    "label": "Video"
                }
            ],
            "default": "image"
        },

        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "image_alter",
            "label": "Image Alternative"
        },
        {
            "type": "url",
            "id": "video",
            "label": "Video"
        },
        {
            "type": "url",
            "id": "video_alter",
            "label": "Video Alternative"
        },
        {
            "type": "range",
            "id": "overlay_opacity",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "Overlay Opacity",
            "default": 0
        },

        {
            "type": "header",
            "content": "Text"
        },

        {
            "type": "html",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#ffffff"
        },
        {
            "type": "html",
            "id": "subtitle",
            "label": "Subtitle"
        },
        {
            "type": "color",
            "id": "subtitle_color",
            "label": "Subtitle Color",
            "default": "#ffffff"
        }
    ],
    
    "presets": [
        {
            "name": "Password Main"
        }
    ]
}


{% endschema %}
